<!--Vinculamos al form el formgroup fg donde se presiona click en submit llama a la funcion guardar-->
<form
    [formGroup]= "fg"
    (ngSubmit)= "guardar(fg.controls['marca'].value, fg.controls['modelo'].value, fg.controls['url'].value)">
    <!--El #campo es el valor para ser usado del dato que se carga en el formulario, se reeplaza por 
    y por [formControl]="fg.controls['campo']-->
    <div class="form-group">
        <label	for="nombre">Marca</label>
        <input	type="text"	class="form-control" id="marca" placeholder="Ingresar Marca..."
        [formControl]= "fg.controls['marca']">
        <!-- Antes de los mensajes de error agregamos el observable-->
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>
        <!--Agrego muestro el mensaje si no cumple con un validador especifico-->
        <div *ngIf = "fg.controls['marca'].hasError('required')">Requerido Marca</div>
         <!--Agrego muestro el mensaje si no cumple con un validador personalizado-->
        <div *ngIf = "fg.controls['marca'].hasError('textoInvalido')">Texto Invalido</div>
        <div *ngIf = "fg.controls['marca'].hasError('minLonTexto')">Debe tener al menos {{minTexto}} caracteres</div>
    
    
    </div>
    
    <div class="form-group">
        <label	for="nombre">Modelo</label>
        <input	type="text"	class="form-control" id="modelo" placeholder="Ingresar Modelo..."
        [formControl]= "fg.controls['modelo']">
        <!--Agrego muestro el mensaje si es valido-->
        <div *ngIf = "!fg.controls['modelo'].valid">Obligatorio Modelo</div>
    </div>
    
    <div class="form-group">
        <label	for="Imagen	Url">Imagen	Url</label>
        <input	type="text"	class="form-control" id="imagenUrl"	placeholder="Ingresar url..."
        [formControl]= "fg.controls['url']">
        <!--Control Personalizada url valida-->
        <div *ngIf = "fg.controls['url'].hasError('urlInvalido')">Url Invalido</div>
    </div>

    <!--El boton antes tenia el evento, ahora ya no hace falta
    <button	type="submit" class="btn btn-primary" (click)="guardar(marca.value,modelo.value,url.value)" >Guardar</button>-->
    
    <!--Como queda sin el evento, agrego el Validador *ngIf si los datos de fg son validos-->
    <button	type="submit" class="btn btn-primary" *ngIf = "fg.valid">Guardar</button>
</form>
