<p>
    Ventas Funciona!
  </p>
  <!--Navegacion por rutas relativas.-->
  <div class="navLinks">
    <a [routerLink]="['./main']">Main</a> |
    <a [routerLink]="['./mas-info']">Mas Info</a> |
    <a [routerLink]="['./', 5]">Venta 5</a>
  </div>
  
  <router-outlet></router-outlet>