<!-- Codigo Prueba Anterior
<div class row>
<app-destino-viaje *ngFor="let x of destinos" [nombre] = "x"></app-destino-viaje>
-->

<div class="container content">
	<div class="row">
		<div class="col-md-6	offset-md-3">
			<span class="anchor" id="formLogin"></span>
			<!-- form	card	login	with	validation	feedback	-->
			<div class="card card-outline-secondary">
				<div class="card-header">
					<h3	class="mb-0">Lista de Destinos</h3>
				</div>
			<div class="card-body">
				<form>
					<!-- El #nombre es el valor para ser usado del dato que se carga en el formulario-->
					<div class="form-group">
						<label	for="nombre">Nombre</label>
						<input	type="text"	class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombre>
					</div>
					<!-- El #url es el valor para ser usado del dato que se carga en el formulario-->
					<div class="form-group">
						<label	for="Imagen	Url">Imagen	Url</label>
						<input	type="text"	class="form-control" id="imagenUrl"	placeholder="Ingresar url..." #url>
					</div>
					<button	type="submit" class="btn btn-primary" (click)="guardar(nombre.value,url.value)" >Guardar</button>
				</form>
			</div>
			</div>
		</div>
	</div>

<hr class="mb-5">
<div class="row row-flex">
	<!--d tiene el valor de la iteracion, [destino] es el parametro que se le pasa al input de destino-viaje component-->
	<app-destino-viaje *ngFor="let d of destinos" [destino] = "d"></app-destino-viaje>
</div>

</div>