<!-- Codigo Prueba Anterior
<div class row>
<app-destino-viaje *ngFor="let x of destinos" [nombre] = "x"></app-destino-viaje>
-->

<div class="container content">
	<div class="row">
		<div class="col-md-6	offset-md-3">
			<span class="anchor" id="formLogin"></span>
			<!-- form	card	login	with	validation	feedback	-->
			<div class="card card-outline-secondary">
				<div class="card-header">
					<h3	class="mb-0">Lista de vehiculos</h3>
				</div>
			<div class="card-body">
				<!--Agregamos nueva linea para agregar vehiculo desde el nuevo componente, el form lo pasamos
				al form-vehiculo -->
				<app-form-vehiculo (onItemAdder)= "add($event)"></app-form-vehiculo>
				
				<!--Lo llevamos al form-vehiculo
				<form>
					--El #marca es el valor para ser usado del dato que se carga en el formulario
					<div class="form-group">
						<label	for="nombre">Marca</label>
						<input	type="text"	class="form-control" id="marca" placeholder="Ingresar Marca..." #marca>
					</div>
					--El #modelo es el valor para ser usado del dato que se carga en el formulario
					<div class="form-group">
						<label	for="nombre">Modelo</label>
						<input	type="text"	class="form-control" id="modelo" placeholder="Ingresar Modelo..." #modelo>
					</div>
					--El #url es el valor para ser usado del dato que se carga en el formulario
					<div class="form-group">
						<label	for="Imagen	Url">Imagen	Url</label>
						<input	type="text"	class="form-control" id="imagenUrl"	placeholder="Ingresar url..." #url>
					</div>
					<button	type="submit" class="btn btn-primary" (click)="guardar(marca.value,modelo.value,url.value)" >Guardar</button>
				</form>-->

			</div>
			</div>
		</div>
	</div>

<hr class="mb-5">
<div class="row row-flex">
	<!--v tiene el valor de la iteracion, [vehic] es el parametro que se le pasa al input de vehiculo component
	<app-vehiculo *ngFor="let v of vehiculos" [vehic] = "v"></app-vehiculo>-->

	<!--Es lo mismo pasar al evento nuevo de output (clicked) el valor de v o usar para cualquier caso
	($event)-->
	<!-- Agregamos al listado el indice i (Nro de iteracion en el ngFor-->
	<!-- utilizamos directamente getAll a traves del Store *ngFor-->
	<app-vehiculo 
		*ngFor="let v of todos; let i = index"
		[vehic] = "v"
		[linea] = "i + 1" 
		(clicked)="elegido($event)"
		appEspiame
	></app-vehiculo>
</div>

<hr class="mb-5">
<div class="row row-flex">
	<h5>
		Log Actividad Selección:
	</h5>
	<ul>
		<li *ngFor= "let u of updates;">{{u}}</li>
	</ul>
</div>

</div>