<div class= "container content">
  <!--Idiomas selector-->
  <div style="float: right;">
    <!--Evento translate.use recibe el evento elegido para enviar la consulta-->
    <select (change)="translate.use($event.target.value)">
      <option value="es">Español</option>
      <option value="fr">France</option>
      <option value="en">English</option>
    </select>
  </div>

  <div class= "page-header">
    <div class = "container">
      <h1>Ruteo Simple</h1>
      <div class = "navLinks">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/vehic_detalle']">Detalle Vehiculo</a>
      </div>
    </div>
  </div>
  
  <div class = "row">
    <h1>
      <!--Uso de una traduccion-->
      {{ title }} <b [innerHTML]="'HOLA' | translate"></b>
     
    </h1>
    
  </div>

  <!--Muestro el componente Lista de vehiculos cuando es estatico
  <app-lista-vehiculos></app-lista-vehiculos>-->

  <!--Ahora que se definieron las rutas y lista de vehiculos es el home, detecta cuando estoy en un componente
  vinculado a un routeador por typescript determina cual es el home-->
  <router-outlet></router-outlet>

  <!--Agregamos la hora y que se renderee asincronicamente-->
  <hr class="mb-5">
  Fecha: {{time | async}}
</div>