<p>
    Listado Reservas Funciona!
  </p>
  <!--./ link relativo a la ruta que estamos-->
  <a [routerLink]="['./', 10]">Ir a detalle</a>
  <!--/login ruta raiz al modulo app-->
  <a [routerLink]="['/login']">Ir a login</a> 

  <!--Mustro la lista del servicio de la variable api definida en el ts-->
  <div *ngFor="let r of api.getAll()">
    {{r.id}} - {{r.name}}
  </div> 