<!-- Codigo Prueba Anterior
<p>
{{nombre}}
</p>
-->
<!-- Se agrega para que muestre la tarjeta en el componente ts 
@HostBinding('attr,class') cssClass = 'col-md-4';
<!--<div class="col-md-4">
-->
<div class="card-content" [@esFavorito]="vehic.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
		<div class="card-img">
			<img src="https://placeimg.com/380/230/nature" alt="">
			<!--Muestro en la imagen superior el valor
				<span><h4>{{vehic.marca}} {{vehic.modelo}}</h4></span>-->
			<!--Mustro en la imagen superior la posicion-->
			<span><h4>{{linea}}</h4></span>
		</div>
		<div class="card-desc">
			<h3>{{vehic.marca}} {{vehic.modelo}}</h3>
			<p>Caracteristicas</p>
			<ul>
				<li *ngFor="let c of vehic.caracteristicas">
					<!--Simplemente muestra el valor de c por el nfFor
					<span>{{c}}</span> -->
					
					<!--Se puede usar ngSwitch-->
					<span [ngSwitch]="c">
						<!--Si el valor es cierta cadena o funcion lo muestro en Verde-->
						<i *ngSwitchCase = "'Financiación 100%'" style="color:green;">{{c}}</i>
						<!--Cualquier otro caso lo muestro sin color-->
						<i *ngSwitchDefault>{{c}}</i>
					</span>
				</li>

				<!--Botones de votos-->
				<div>
					<!--Agregamos los trackeos para los botones de Up y Down-->
					<a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="vehiculos_vote_up lista_vehiculos_item">
						<i class="material-icons md-18">thumb_up</i>
					</a>
					<a href="#" (click)="voteDown()"appTrackearClick data-trackear-tags="vehiculos_vote_down lista_vehiculos_item">
						<i class="material-icons md-18">thumb_down</i>
					</a>
					<a href="#" (click)="voteReset()"><i class="material-icons md-18">autorenew</i></a>
					{{vehic.votes}}
				</div>
				
			</ul>
			<!--Trackeo al boton marcado-->
			<a href="#" class="btn-card" (click)= "ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">
				Ir</a>
			<!--Con el Display como mostrar el valor Marcado
			<span [style.display]="vehic.isSelected() ? '':'none'"> -MARCADO -</span>	-->
			
			<!--Con la directiva *ngIf
			<span *ngIf="vehic.isSelected()"> -MARCADO -</span> -->
			
			<!--Con la directiva *ngIf pero con la directiva ngNonbindable-->
			<span *ngIf="vehic.isSelected()">
				<!--todo lo que este dentro de ngnonbindable el html no es compilado o evaluado por Angular, 
				no crea conflictos con sintaxis angular.-->
				<span ngNonbindable> - MARCADO -</span> 
			</span>

			<!--<a [routerLink]="['/vehic_detalle']">Detalle Vehiculo</a>-->
			<a [routerLink]="['/vehic_detalle', vehic.id]">Ver!</a>
		</div>
	</div>
<!--</div> -->

