<!-- Codigo Prueba Anterior
<p>
{{nombre}}
</p>
-->
<!-- Se agrega para que muestre la tarjeta en el componente ts 
@HostBinding('attr,class') cssClass = 'col-md-4';
<!--<div class="col-md-4"> -->
	<div class="card-content">
		<div class="card-img">
			<img src="https://placeimg.com/380/230/nature" alt="">
			<span><h4>{{destino.nombre}}</h4></span>
		</div>
		<div class="card-desc">
			<h3>{{destino.nombre}}</h3>
			<p>Destinos de Prueba</p>
			<a href="#" class="btn-card">Read</a>
		</div>
	</div>
<!--</div> -->
