<p>
    Detalle del vehiculo!
    <!--
    <br>
    {{ vehiculo.id }}
    <br>
    {{ vehiculo.marca }}
    <br>
    {{ vehiculo.modelo }}
-->
</p>

<hr>
<mgl-map
    [style]="style"
    [zoom]="[2]"
  >
  <mgl-marker
     [lngLat]="[-58.46056, -30.98389]"
   >
     <div
       onclick="alert('Mi casa')"
       class="marker"
     >
	   Chaco!
     </div>
   </mgl-marker>
  </mgl-map> 
