<div class= "container content">
	<div class = "row">
	  <h1>
	  	{{title}}
	  </h1>
		
	</div>
	
	<!--Primer Ejemplo Muestro el componente destino Viaje-->
	<!--<app-destino-viaje></app-destino-viaje>-->

	<!--Segundo Ejemplo Muestro el componente Lista de destinos-->
	<app-lista-destinos></app-lista-destinos>

</div>